.alert{
    position: absolute;
    display: flex;
    padding: 10px;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    color: $white;
    border: 1px solid $white-1;
    font-family: $main-font;
    &.success{
        background: green;
    }
    &.danger{
        background: rgb(255, 210, 10);
    }
    button{
        cursor: pointer;
        background: none;
        border: none;
        color: $color-1;
        font-family: $main-font;
        margin-right: 10px;
        font-size: 14px;
    }
}
